<div class="col-xl-{{ object.col_width }} col-md-6 mb-4">
  <div class="card border-left-{{ object.get_vpi_target_color }} shadow h-100 py-2">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">
          <a href="{% url 'vpi:detail' object.vpi.id %}" class="text-xs font-weight-bold text-{{ object.get_vpi_target_color }} text-uppercase mb-1">{{object.vpi.name}}</a>
          {% if object.get_vpi_data %}
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                {{ object.get_vpi_data|floatformat:object.vpi.decimal_amount }} {{ object.vpi.measuring_unit }}
              </div>
          {% else %}
              Geen data
          {% endif %}
        </div>
        <div class="col-auto">
          <i class="fas fa-calendar fa-2x text-gray-300"></i>
        </div>
      </div>
    </div>
  </div>
</div>