<div class="col-lg-{{ object.col_width }}">
<!-- Project Card Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">{{ object.vpi.name }}</h6>
        </div>
        <div class="card-body">
            <div style="display: table; table-layout: fixed; height: 20rem; width: 100%">
                <div style="display: table-row">
                    <h4 class="small font-weight-bold">Inrichting <span class="float-right">100%</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar" role="progressbar" style="background-color: #60636a; width: 100%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div style="display: table-row">
                    <h4 class="small font-weight-bold">Ontwerp <span class="float-right">80%</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar" role="progressbar" style="background-color: #a5acaf; width: 80%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div style="display: table-row">
                    <h4 class="small font-weight-bold">Uitvoer <span class="float-right">20%</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar" role="progressbar" style="background-color: #414451; width: 20%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div style="display: table-row">
                    <h4 class="small font-weight-bold">Oplevering <span class="float-right">0%</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar" role="progressbar" style="background-color: #8f8782; width: 0%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>