<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 id="search-results-title" class="m-0 font-weight-bold text-primary">Formulieren</h6>
    </div>
    <div class="card-body" id="replaceable-content">
        <div class="table-responsive">
            <table class="table table-bordered" id="formsTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Naam</th>
                        <th>Omschrijving</th>
                        <th>Invullen door</th>
                        <th>Actie</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>CO2 uitstoot</td>
                        <td>blablabla</td>
                        <td>Iemand</td>
                        <td><a class="btn btn-primary btn-sm" href="">Invullen</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>