{% extends "base.html" %}

{% block title %}{% block page_header %}Prestatiemeting voor project {{ prestatiemeting.project }}{% endblock page_header %}{% endblock title %}

{% block header_button %}
    <a href="#" data-toggle="modal" data-target="#exportModal" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Download Excel formulier</a>
{% endblock %}

{% block content %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% if prestatiemeting.get_questions_og %}
        <form method="post" action="{% url 'data:prestatiemeting' prestatiemeting.id %}">
            {% csrf_token %}
            {% for theme in prestatiemeting.get_distinct_themes_og %}
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 id="search-results-title" class="m-0 font-weight-bold text-primary">{{ theme }}</h6>
                    </div>
                    <div class="card-body">
                        {% for question in prestatiemeting.get_questions_og %}
                            {% if question.theme == theme %}
                                <fieldset class="form-group">
                                    <label for="answer"><b>{{ question.number }}. {{ question.question }}</b></label>
                                    {% for answer in question.prestatiemetinganswer_set.all %}
                                        <div class="form-check" id="answer">
                                            <input class="form-check-input" type="radio" name="question_{{ question.number }}" id="option{{ answer.id }}" value="{{ answer.id }}" required>
                                            <label class="form-check-label" for="option{{ answer.id }}">
                                                {{ answer.gradation.letter }}. {{ answer.gradation.description }}: {{ answer.answer }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                    <textarea class="form-control mt-2" id="explanation_{{ question.number }}" name="explanation_{{ question.number }}" placeholder="Type uw opmerkingen hier..."></textarea>
                                </fieldset>
                                <hr>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            <div class="card shadow mb-4">
                <button type="submit" class="btn btn-primary">Opslaan</button>
            </div>
        </form>
    {% endif %}
{% endblock content%}

{% block modals %}
  <!-- Discard form Modal-->
  <div class="modal fade" id="exportModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Excel formulier downloaden?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Hier kunt u het bijbehorende formulier OG -> ON downloaden</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Sluiten</button>
          <a class="btn btn-primary" href="{% url 'data:export_excel' prestatiemeting.id %}">Downloaden</a>
        </div>
      </div>
    </div>
  </div>
{% endblock modals %}