{% extends "base.html" %}
{% load static %}

{% block page_header %}{% block title %}Dashboard - {{ dashboard }}{% endblock title %}{% endblock page_header %}

{% block content %}
    {% for row in dashboard.get_ordered_objects_by_row %}
        <div class="row">
            {% for object in row %}
                {% if object.chart_type == object.CARD %}
                    {% include 'dashboard/objects/card.html' with object=object %}
                {% elif object.chart_type == object.BAR %}
                    {% include 'dashboard/objects/bar.html' with object=object %}
                {% elif object.chart_type == object.TABLE %}
                    {% include 'dashboard/objects/table.html' with object=object %}
                {% elif object.chart_type == object.PIE %}
                    {% include 'dashboard/objects/pie.html' with object=object %}
                {% endif %}
            {% endfor %}
         </div>
    {% endfor %}
{% endblock content %}

