{% extends "base.html" %}
{% load static %}

{% block title %}Dashboard{% endblock title %}

{% block page_header %}Dashboard{% endblock page_header %}
{% block content %}
      <!-- Content Row -->

    {% for row in dashboard.get_ordered_objects_by_row %}
        <div class="row">
            {% for object in row %}
                {% if object.chart_type == object.CARD %}
                    {% include 'dashboard/objects/card.html' with object=object %}
                {% elif object.chart_type == object.BAR %}
                    {% include 'dashboard/objects/bar.html' with object=object %}
                {% endif %}
            {% endfor %}
         </div>
    {% endfor %}
    <div class="row">
        {% for object in dashboard.get_ordered_objects %}

        {% endfor %}
    </div>

    <div class="row">
        <div class="col-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Subcategorien klanttevredenheid
                    </h6>
                </div>
                <div class="card-body scroll">
                    <table class="table table-sm mb-0">
                        <thead>
                            <tr>
                                <th scope="col">Thema</th>
                                <th scope="col">Weging</th>
                                <th scope="col">Score</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for question in questions %}
                                <tr>
                                    <td scope="row">{{ question.description }}</td>
                                    <td scope="row">{{ question.weight }}%</td>
                                    <td>{{ question.get_avg_score.avg|floatformat:1 }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
  {{ block.super }}
  <!-- Page level plugins -->
  <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>
  <script src="{% static 'dashboard/js/trendline.js' %}"></script>
{% endblock %}