{% extends "base.html" %}
{% load static %}

{% block title %}{% block page_header %}Dashboard - {{ dashboard.project.name }}{% endblock page_header %}{% endblock title %}


{% block content %}
    {% for row in dashboard.get_ordered_objects_by_row %}
        <div class="row">
            {% for object in row %}
                {% if object.chart_type == object.CARD %}
                    {% include 'dashboard/objects/card.html' with object=object %}
                {% elif object.chart_type == object.BAR %}
                    {% include 'dashboard/objects/bar.html' with object=object %}
                {% elif object.chart_type == object.PIE %}
                    {% include 'dashboard/objects/pie.html' with object=object %}
                {% endif %}
            {% endfor %}
         </div>
    {% endfor %}
{% endblock content %}

{% block scripts %}
  {{ block.super }}
  <!-- Page level plugins -->
  <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
  <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>
{% endblock %}