{% extends "base.html" %}
{% load static %}

{% block title %}{% block page_header %}Homepage{% endblock page_header %}{% endblock title %}

{% block content %}
    <div class="row">
        <div class="card shadow mb-4 ml-4" style="width: 20rem;">
            <img  class="card-img-top" src="{% static 'img/background_8.jpg' %}">
            <div class="card-body">
                <h5 class="card-title">Some title</h5>
                <p class="card-text">{% lorem %}</p>
            </div>
        </div>
        <div class="card shadow mb-4 ml-4" style="width: 20rem;">
            <img  class="card-img-top" src="{% static 'img/background_8.jpg' %}">
            <div class="card-body">
                <h5 class="card-title">Some title</h5>
                <p class="card-text">{% lorem %}</p>
            </div>
        </div>
        <div class="card shadow mb-4 ml-4" style="width: 20rem;">
            <img  class="card-img-top" src="{% static 'img/background_8.jpg' %}">
            <div class="card-body">
                <h5 class="card-title">Some title</h5>
                <p class="card-text">{% lorem %}</p>
            </div>
        </div>
    </div>
{% endblock content%}