{% extends "base.html" %}
{% load static %}

{% block title %}{% block page_header %}{{ vpi.name }}{% endblock page_header %}{% endblock title %}

{% block header_button %}
    <a href="{% url 'vpi:index' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Terug naar overzicht</a>
{% endblock %}

{% block content %}
    {% include 'vpi/objects/card_deck.html' with data=data vpi=vpi %}
    <div class="card-deck">
        <div class="card shadow mb-4">
            <div class="card-header">
                <p class="card-text">VPI omschrijving</p>
            </div>
            <div class="card-body">
                <p class="card-text">{{ vpi.description }}</p>
                <p class="card-text">
                    {% if vpi.measuring_unit %}
                        Gemeten in: <b>{{ vpi.measuring_unit }}</b>
                    {% endif %}
                </p>
            </div>
        </div>

        <div class="card shadow mb-4">
            <div class="card-header">
                <p class="card-text">VPI doel</p>
            </div>
            <div class="card-body">
                <table class="table table-sm mb-0">
                    <thead>
                        <tr>
                            <th>Project</th>
                            <th>Groen</th>
                            <th>Geel</th>
                            <th>Rood</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for target in vpi.vpitarget_set.all %}
                            <tr>
                                {% if target.project %}
                                    <td>{{ target.project }}</td>
                                {% else %}
                                    <td>Algemeen</td>
                                {% endif %}
                                {% if target.is_better == 'higher' %}
                                    <td>&gt {{ target.upper_limit }}</td>
                                    <td>{{ target.lower_limit }} - {{ target.upper_limit }}</td>
                                    <td>&lt {{ target.lower_limit }}</td>
                                {% elif target.is_better == 'lower' %}
                                    <td>&lt {{ target.lower_limit }}</td>
                                    <td>{{ target.lower_limit }} - {{ target.upper_limit }}</td>
                                    <td>&gt {{ target.upper_limit }}</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% include 'vpi/objects/line.html' with data=data %}
{% endblock content%}