{% extends 'base.html' %}
{% load static %}

{% block title %}{% block page_header %}Zoek VPI's{% endblock page_header %}{% endblock title %}

{% block stylesheets %}
    {{ block.super }}
    <!-- Custom styles for this page -->
    <link href="{% static "vpi/main.css" %}" rel="stylesheet" media="screen">
{% endblock stylesheets %}

{% block content %}
    <div class="card shadow mb-4">
        <div class="card-body">
            <form class="form-inline">
                <label for="category-select">
                    <i id="search-icon" class="fas fa-search fa-lg mr-2" aria-hidden="true"></i>
                </label>
                <select class="form-control mr-2 col-3" id="category-select">
                    <option>Selecteer categorie..</option>
                    <option>Milieu</option>
                    <option>HRM</option>
                    <option>Financieel</option>
                    <option>Project</option>
                    <option>...</option>
                </select>
                <input id="user-input" class="form-control ml-3 col-6" type="text" placeholder="Search" aria-label="Search">
            </form>
        </div>
    </div>


{#        <div class="row">#}
{#      <div class="col-6 align-left m-4">#}
{#        <form class="form-inline">#}
{#        <i id="search-icon" class="fas fa-search" aria-hidden="true"></i>#}
{#        <input id="user-input" class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search">#}
{#        </form>#}
{#      </div>#}
{#    </div>#}
{#    </div>#}


  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 id="search-results-title" class="m-0 font-weight-bold text-primary">Alle VPI's</h6>
    </div>
    <div class="card-body" id="replaceable-content">
      {% include 'vpi/vpi-results-partial.html' %}   
    </div>
  </div>

{% endblock content %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static "vpi/js/main.js" %}"></script>

  <!-- Page level plugins -->
  <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
{% endblock scripts %}